/*
!/.gitignore

# Scripts
!/*.tcl

# Constraints
!/*.srcs/
/*.srcs/*
!/*.srcs/constrs_1/

# Block Diagram
!/*.srcs/sources_1/
/*.srcs/sources_1/*
!/*.srcs/sources_1/bd/
/*.srcs/sources_1/bd/*
!/*.srcs/sources_1/bd/*/
/*.srcs/sources_1/bd/*/*
!/*.srcs/sources_1/bd/*/*.bd

# Vitis Project
!/*.vitis/
/*.vitis/.analytics
/*.vitis/*.log
/*.vitis/.metadata/
/*.vitis/RemoteSystemsTempFiles/
/*.vitis/*_platform/
/*.vitis/*_system/
/*.vitis/*/.project
/*.vitis/*/.cproject
/*.vitis/*/*.prj
/*.vitis/*/_ide